<ion-header-bar align-title="center" class="bar-calm">
  <h1 class="title">Ramadan 2016 - Sénégal</h1>
</ion-header-bar>
<ion-view>
  <ion-content padding="false" overflow-scroll="true">
    <div class="list">

      <div class="item item-divider text-center">
        Special Thank
      </div>

      <a class="item" >
        Ahmath Bamba Mbacké
      </a>
      <a class="item" >
        Babacar Niang
      </a>
      <a class="item" >
        Majalis (www.majalis.org)
      </a>
      <div class="item item-divider text-center">
        Copyright
      </div>
      <p class="item text-center">
        <h1 class="item">Thierno Thiam <a >@localhost</a></h1>
      <blockquote class="pull-right"> #Le magicien du code</blockquote>
      </p>

    </div>

  </ion-content>

</ion-view>
