<ion-header-bar align-title="center" class="bar-calm">
  <h1 class="title">Ramadan 2016 - Sénégal</h1>
</ion-header-bar>
<ion-view>
  <ion-content padding="false" overflow-scroll="true">
    <div class="list card text-center">

      <div class="item item-avatar text-left">
        <img src="img/allah.png">
        <h2>Heures de prière</h2>
        <p>{{pray.Date}} 2016</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/mosque.jpg">
      </div>
      <a class="item item-icon-left button button-calm button-large ">
        Sobh {{pray.Sobh}}
      </a>
      <a class="item item-icon-left button button-balanced button-large ">
        Chorouq {{pray.Chorouq}}
      </a>
      <a class="item item-icon-left button button-royal button-large ">
        Dohr {{pray.Dohr}}
      </a>
      <a class="item item-icon-left button button-assertive button-large ">
        Asr {{pray.Asr}}
      </a>
      <a class="item item-icon-left button button-positive button-large ">
        Maghreb {{pray.Maghreb}}
      </a>
      <a class="item item-icon-left button button-energized button-large ">
        Icha {{pray.Icha}}
      </a>

    </div>


    <br>
    <br>

    <br>
    <br>



  </ion-content>
</ion-view>
